<!DOCTYPE html>
<html>
    <head>
        <link href='/css/styles.css' rel='stylesheet' />
        <title>About</title>
        <link rel='icon' href="/img/weather.png" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        </div>
        {{>footer}}
    </body>
</html>